wheel
setuptools
numpy
scipy
pandas
pandas_ta
patsy
statsmodels
sklearn
matplotlib
ws4py
tornado
tweepy
cython
retrying
sqlmlutils
nltk
seaborn
scikit-surprise
pymssql
pyyaml
pandas-datareader
ta
requests
ipykernel
plotly-express
pyshp
colorcet
networkx
tweepy
tzdata
build
twine
jgtapy
git-python
